{{define "pop_window_remind"}}
<div class="modal fade" id="myModal_remind">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
  
        <!-- 模态框头部 -->
        <!-- <div class="modal-header">
            <h5 class="modal-title">模态框头部</h5>
        </div> -->
  
        <!-- 模态框主体 -->
        <div class="modal-body" style="text-align: center;font-size: 20px;font-weight: bold;padding: 32px;">
            模态框内容..
        </div>
  
      </div>
    </div>
</div>
{{end}}